p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-header{
    color: rgba(3,3,3,.4);
    font-size: 16px;
}

.bg-secondary{
    background: #f4f5f6 !important;
}

.ff-1{
    font-family: 'Roboto Condensed', sans-serif;
}

.ff-2{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-danger,
.btn-danger {
    background-color: #f72210 !important;
}

.text-danger{
    color: #f72210 !important;
}


.nav-links{
    display: none;
}

.position-relative a {
    left: 0;
    bottom: 0;
}

.btn-warning{
    background-color: #ffe400 !important;
}


.text-dark {
    color: #000 !important;
}

.w-35{
    width:35%;
}

.hf-1{
    height: 170px;
}

.vs{
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    left: 220px;
    bottom: -33px;
}

.debate-hr{
    border-top: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
    height: 1px;
}

.cover_a {
    left: 120px;
    bottom: 20px;

}

.cover_b {
    bottom: 10px;
    left: 170px;
}

.newsletter{
    background: url('/Newsweek-clone/assets/img/starting5-homepage.png') center center / cover no-repeat;
}